.App {
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.container {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    border-radius: 5px;
    margin-top: 6%;
    height: 70vh;
    margin-inline: 10vw;
    /* line-height: 2px; */
}

h1 {
    padding: 10px;
}

.submit {
    margin-top: 9px;
}