@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");
.App {
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
}

body {
    background-color: rgb(0 73 73);
    font-family: "Poppins", sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.title h1 {
    color: #fffefe;
    text-align: center;
    margin: 30px 0;
    font-weight: 700;
}

form {
    max-width: 500px;
    margin: 0 auto;
    background: rgb(0 73 73);
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}

form h3 {
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
}

form input {
    color: rgb(0 73 73);
    width: 100%;
    padding: 15px 10px;
    outline: none;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.input_container {
    margin-bottom: 20px;
}

.btn_container {
    text-align: center;
    margin-bottom: 10px;
}

.btn_container button {
    background: rgb(234, 231, 231);
    color: rgb(0 73 73);
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 800;
    transition: all 0.3s ease;
}


.btn_container button:hover {
    color: #ffffff;
    background-color: #000000;
}

.todo_container {
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
}

.todo {
    margin-top: 20px;
    background: rgb(0 73 73);
    padding: 20px 30px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.todo:hover {
    transform: scale(1.05);
}

.todo input {
    width: 70%;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
}

.button-complete,
.button-delete,
.button-edit {
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    border-radius: 50%;
    transition: color 0.3s;
}

.button-complete:hover,
.button-delete:hover,
.button-edit:hover {
    color: #ffffff;
}

#i {
    font-size: 35px;
}

.button-complete {
    color: #58f46c;
    margin-right: 10px;
}

.button-edit {
    color: #38c5fd;
    margin-right: 10px;
}

.button-delete {
    color: rgb(254, 87, 58);
}

@media screen and (max-width: 667px) {
    .todo_container {
        width: 90%;
    }
}

input:focus,
button:focus {
    outline: none;
}